html,
body {
    background-image: url(./assets/Wood-Light.jpg);
    position: relative;
    min-height: 100vh;
}

h1 {
    font-size: 80px;
    color: yellow;
}

.link {
    text-decoration: none;
    color: yellow;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

#empty {
    height: 40px;
}

.liked {
    background-color: greenyellow;
}

#nav {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 40px;
    color: yellow;
}

.none {
    display: none;
}

.card {
    border: 10px;
    border-radius: 20px;
}

.card-header-title {
    font-size: 30px;
}

.card:hover {
    box-shadow: inset 0px 0px 5px yellow, 0 0 15px yellow;
    transform: scale(1.03);
    transition: all 0.5s ease-in-out;
}

#see-fave-brews:hover,
#clear-dislikes:hover,
.github:hover,
#back:hover {
    box-shadow: inset 0px 0px 5px yellow, 0 0 15px yellow;
    transition: all 0.5s ease-in-out;
}

.card {
    background-image: linear-gradient(to bottom right, rgba(255, 255, 0, 0.75), rgba(250, 154, 0, 0.69));
}